'.source.java':
  'ccc':
    'prefix': 'ccc'
    'body': """
          /**
      * Classe :  ${1:class}
      * Objectif : {2:objectif}
      * @version ${3:version}
      * @author ${4:author}
      * @date ${5:date}
      * Licence : ${6:license}
      **/


      // ATTRIBUT - non -
      // CONSTRUCTEUR singleton - non -
      // METHODES D'ENCAPSULATION - non -
      // CONSTANTES - non -
      // ATTRIBUTS - non -
      // METHODES D'ENCAPSULATION - non -
      // METHODES USUELLES - non -
      // METHODES SPECIFIQUES - non -
    """
    'description' : 'Créer automatiquement la liste des commentaires pour vos codes'
